<div>
	<%= form.label :subdomain %>:<br />
	<%= form.text_field :subdomain, :class => "text" %>
</div>

<div>
	<%= form.label :domain %>:<br />
	<%= form.text_field :domain, :class => "text" %>
</div>

<div>
	<%= form.label :google_analytics_code, 'Google Analytics code' %>:<br />
	<%= form.text_field :google_analytics_code, :class => "text" %>
</div>

<div>
	<%= form.label :name %>:<br />
	<%= form.text_field :name, :class => "text" %>
</div>

<div>
	<%= form.label :email %>:<br />
	<%= form.text_field :email, :class => "text" %>
</div>

<div>
	<%= form.label :css_url, 'CSS URL' %>:<br />
	<%= form.text_field :css_url, :class => "text" %>
</div>

<div>
	Use default CSS?:
	<%= form.radio_button :use_default_css, true, :class => "radio" %> 
	<label for="website_use_default_css_true">Yes</label> 
	<%= form.radio_button :use_default_css, false, :class => "radio" %> 
	<label for="website_use_default_css_false">No</label> 
</div>
