<div class="form">
	<% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @website do |form| %>

<div>
	<%= form.label :subdomain %>:<br />
	<%= form.text_field :subdomain, :class => "text" %>
</div>

<div>
	<%= form.label :domain %>:<br />
	<%= form.text_field :domain, :class => "text" %>
</div>

<div>
	<%= form.label :google_analytics_code, 'Google Analytics code' %>:<br />
	<%= form.text_field :google_analytics_code, :class => "text" %>
</div>

<div>
	<%= form.label :google_ftp_username, 'Google FTP username' %>:<br />
	<%= form.text_field :google_ftp_username, :class => "text" %>
</div>

<div>
	<%= form.label :google_ftp_password, 'Google FTP password' %>:<br />
	<%= form.text_field :google_ftp_password, :class => "text" %>
</div>

<div>
	<%= form.label :name %>:<br />
	<%= form.text_field :name, :class => "text" %>
</div>

<div>
	<%= form.label :email %>:<br />
	<%= form.text_field :email, :class => "text" %>
</div>

<div>
	<%= form.label :default_locale %>:<br />
	<%= form.text_field :default_locale, :class => "text" %>
</div>

<div>
  <%= form.label :blog_id %>:<br />
  <%= form.collection_select :blog_id, Forum.all(:conditions => {:website_id => @website.id}, :order => :name), :id, :name, {:include_blank => '-- No blog --'} %>
</div>

<div>
	<label for="website_can_users_create_accounts_true">Can users create accounts?:</label>
	<%= form.radio_button :can_users_create_accounts, true, :class => "radio" %> 
	<label for="website_can_users_create_accounts_true">Yes</label> 
	<%= form.radio_button :can_users_create_accounts, false, :class => "radio" %> 
	<label for="website_can_users_create_accounts">No</label> 
</div>

<div>
	<label for="website_private_true">Private (users must be logged in to view)?:</label>
	<%= form.radio_button :private, true, :class => "radio" %>
	<label for="website_private_true">Yes</label>
	<%= form.radio_button :private, false, :class => "radio" %>
	<label for="website_private">No</label>
</div>

<fieldset>
<legend>CSS Settings</legend>

<div>
	<%= form.label :css_url, 'CSS URL' %>:<br />
	<%= form.text_field :css_url, :class => "text" %>
</div>

<div>
	<label for="website_use_default_css_true">Use default CSS?:</label>
	<%= form.radio_button :use_default_css, true, :class => "radio" %> 
	<label for="website_use_default_css_true">Yes</label> 
	<%= form.radio_button :use_default_css, false, :class => "radio" %> 
	<label for="website_use_default_css">No</label> 
</div>

</fieldset>

<fieldset>
<legend>Image Sizes</legend>

<div>
	<%= form.label :page_image_size %>:<br />
	<%= form.text_field :page_image_size, :class => "text" %>
</div>

<div>
	<%= form.label :page_thumbnail_size %>:<br />
	<%= form.text_field :page_thumbnail_size, :class => "text" %>
</div>

<div>
	<%= form.label :product_image_size %>:<br />
	<%= form.text_field :product_image_size, :class => "text" %>
</div>

<div>
	<%= form.label :product_thumbnail_size %>:<br />
	<%= form.text_field :product_thumbnail_size, :class => "text" %>
</div>

</fieldset>

<fieldset>
<legend>Tax Settings</legend>

<div>
	<%= form.label :vat_number, 'VAT number' %>:<br />
	<%= form.text_field :vat_number, :class => "text" %>
</div>

<div>
	<label for="show_vat_inclusive_prices_true">Show VAT-inclusive prices?:</label>
	<%= form.radio_button :show_vat_inclusive_prices, true, :class => "radio" %>
	<label for="show_vat_inclusive_prices_true">Yes</label>
	<%= form.radio_button :show_vat_inclusive_prices, false, :class => "radio" %>
	<label for="show_vat_inclusive_prices">No</label>
</div>

</fieldset>

<fieldset>
<legend>Shop Settings</legend>

<div>
	<label for="website_shop_true">Shop?:</label>
	<%= form.radio_button :shop, true, :class => "radio" %> 
	<label for="website_shop_true">Yes</label> 
	<%= form.radio_button :shop, false, :class => "radio" %> 
	<label for="website_shop">No</label> 
</div>

<div>
	<label for="website_skip_payment_true">Skip payment?:</label>
	<%= form.radio_button :skip_payment, true, :class => "radio" %> 
	<label for="website_skip_payment_true">Yes</label> 
	<%= form.radio_button :skip_payment, false, :class => "radio" %> 
	<label for="website_skip_payment">No</label> 
</div>

<div>
	<%= form.label :shipping_amount, 'Shipping amount' %>:<br />
	&pound;<%= form.text_field :shipping_amount, :class => "text" %>
</div>

<div>
  <%= form.label :invoice_details %>:<br />
  <%= form.text_area :invoice_details %>
</div>

</fieldset>

<fieldset>
<legend>WorldPay</legend>

<div>
	<label for="website_rbswp_active_true">Active?:</label>
	<%= form.radio_button :rbswp_active, true, :class => "radio" %> 
	<label for="website_rbswp_active_true">Yes</label> 
	<%= form.radio_button :rbswp_active, false, :class => "radio" %> 
	<label for="website_rbswp_active">No</label> 
</div>

<div>
	<label for="website_rbswp_test_mode">Mode?:</label>
	<%= form.radio_button :rbswp_test_mode, false, :class => "radio" %> 
	<label for="website_rbswp_test_mode">Production</label> 
	<%= form.radio_button :rbswp_test_mode, true, :class => "radio" %> 
	<label for="website_rbswp_test_mode_true">Test</label> 
</div>

<div>
	<%= form.label :rbswp_installation_id, 'Installation ID' %>:<br />
	<%= form.text_field :rbswp_installation_id, :class => "text" %>
</div>

<div>
	<%= form.label :rbswp_payment_response_password, 'Payment response password' %>:<br />
	<%= form.text_field :rbswp_payment_response_password, :class => "text" %>
</div>

</fieldset>

<div>
  <%= form.label :terms_and_conditions %>:<br />
  <%= form.text_area :terms_and_conditions %>
</div>

<div>
  <%= form.label :footer_html, 'Footer HTML' %>:<br />
  <%= form.text_area :footer_html %>
</div>

<%= submit_tag submit_label %>

<% end %>

</div>
