<% if @carousel_slide.errors.any? -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h2><%= pluralize(@carousel_slide.errors.count, "error") %> prohibited this carousel_slide from being saved:</h2>

  <ul>
<% @carousel_slide.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
<% end -%>
  </ul>
</div>
<% end -%>

<%= form_for [:admin, @carousel_slide] do |form| %>

  <%= form.label :caption %>
  <%= form.text_field :caption, class: 'span9' %>

  <%= form.label :link %>
  <%= form.text_field :link, class: 'span6' %>

  <%= form.label :image_id %>
  <%= select :carousel_slide, :image_id, image_options %>

  <br><%= form.submit class: 'btn btn-primary' %>

<% end %>
