<%= page_header 'Liquid Templates' %>

<p>
  <%= new_button LiquidTemplate %>
</p>
<% if @liquid_templates.empty? -%>
<p>There are no Liquid templates created yet.</p>
<% else -%>
<table class="table table-bordered table-striped">
  <tr>
    <th>Template Name</th>
    <th>Actions</th>
  </tr>
<% @liquid_templates.each do |liquid_template| -%>
  <tr>
    <td><%= liquid_template.name %></td>
    <td style="width: 130px;">
      <%= edit_button liquid_template %>
      <%= delete_button liquid_template %>
    </td>
  </tr>
<% end -%>
</table>
<% end -%>
