<%= page_header 'Liquid Templates' %>

<p>
  <%= link_to 'New Liquid template', new_liquid_template_path, class: 'btn btn-primary' %>
</p>
<% if @liquid_templates.empty? -%>
<p>There are no Liquid templates created yet.</p>
<% else -%>
<table class="table table-bordered table-striped">
  <tr>
    <th>Template Name</th>
    <th>Actions</th>
  </tr>
<% @liquid_templates.each do |liquid_template| -%>
  <tr>
    <td><%= liquid_template.name %></td>
    <td style="width: 130px;">
      <%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_liquid_template_path(liquid_template), class: 'btn btn-mini' %>
      <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe,
      liquid_template_path(liquid_template),
      data: { confirm: 'Are you sure?' },
      method: :delete,
      class: 'btn btn-danger btn-mini' %>
    </td>
  </tr>
<% end -%>
</table>
<% end -%>
