<%= form.hidden_field :shipping_class_id %>
<div>
	<%= form.label :trigger_value %>:<br>
	<%= form.text_field :trigger_value, :class => "text" %>
</div>
<div>
	<%= form.label :amount %>:<br>
	<%= form.text_field :amount, :class => "text" %>
</div>
