<%= form.hidden_field :product_id %>
<div>
	<%= form.label :quantity %>:<br />
	<%= form.text_field :quantity, :class => "text" %>
</div>

<div>
	<%= form.label :price %>:<br />
	<%= form.text_field :price, :class => "text" %> GBP
</div>
