<h1><%= I18n.t('login') %></h1>

<% if @w.can_users_create_accounts? -%>
<p><strong>Don&#8217;t have an account yet? <%= link_to 'Create your account now', controller: 'users', action: 'new' %> &#8212; it&#8217;s easy and takes less than a minute.</strong></p>
<% end -%>

<div class="form">
	<fieldset>
	<legend>Enter email/password</legend>
	<%= form_tag action: 'create' do %>
		<div>
			<label for="email">Email: </label><br>
			<%= text_field_tag :email, params[:email], class: 'short' %>
		</div>
		<div>
			<label for="password"><%= I18n.t('password') %>: </label><br>
			<%= password_field_tag :password, params[:password],
			 					   class: 'short' %><br>
      <small><%= link_to I18n.t('forgot_your_password'), controller: 'users', action: 'forgot_password' %></small>
		</div>
		
		<%= submit_tag I18n.t('login') %>
	<% end %>
	</fieldset>
</div>
