<h1>New Forum</h1>

<% if @forum.errors.any? -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

  <ul>
<% @forum.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
<% end -%>
  </ul>
</div>
<% end -%>


	<fieldset>
		<legend>Add a new forum</legend>
    <%= form_for @forum do |form| %>
    <%= render partial: 'form', object: form %>

    <%= submit_tag "Create New Forum" %>

  <% end %>
  </fieldset>
