<%= page_header 'Edit Component' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Products', products_path %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @component.product.name, edit_product_path(@component.product) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit Component
  </li>
</ul>

<div class="row">

  <div class="span6">
    <%= render 'form' %>
  </div>

  <div class="span6">
    <h2>Features</h2>
    <p><%= link_to 'Add Feature', new_feature_path(component_id: @component.id, product_id: @component.product_id), class: 'btn' %></p>
<% if @component.features.empty? -%>
    <p>This component has no features.</p>
<% else -%>
    <table class="table">
<% @component.features.each do |feature| -%>
      <tr>
        <td>
          <%= feature.name %>
        </td>
        <td>
          <%= edit_button(feature) %>
          <%= delete_button(feature) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>
</div>

<% unless @headings.empty? -%>
<h2>Permutations</h2>

<table class="table table-bordered table-striped">
  <tr>
<% @headings.each do |heading| -%>
    <th><%= heading %></th>
<% end %>
    <th>Price &amp; Weight</th>
  </tr>
<% @rows.each do |row| -%>
  <tr>
<% row[:choices].each do |choice| %>
    <td><%= choice %></td>
<% end -%>
    <td>
      <%= form_for row[:permutation], html: {class: 'form-inline', style: 'margin-bottom: 0'} do |form| %>
      <%= form.text_field :price, class: 'span1' %> GBP
      <%= form.text_field :weight, class: 'span1' %> kg
      <%= form.submit class: 'btn' %>
      <% end %>
    </td>
  </tr>
<% end -%>
</table>
<% end -%>
