<h1>Checkout</h1>
<%= render partial: "progress", locals: {step: 2} %>

<%= content_for :content do %>
  <h2>Your delivery instructions</h2>

  <%= form_tag(save_delivery_instructions_path) do |f| %>
    <%= render "delivery_instructions" %>
    <input type="submit" value="Save Changes">
  <% end %>
<% end %>

<%= render partial: "page" %>
