<h1>Edit Shipping Zone</h1>
<%= flash_notice %>
<div class="form">
	<%= error_messages_for :shipping_zone -%>

  <%= form_for @shipping_zone do |form| %>
  <%= render :partial => 'form', :object => form %>

  <%= submit_tag "Save" %>

  <% end %>
</div>
<h2>Countries</h2>
<% if @shipping_zone.countries.empty? %>
<p>There are no countries in this shipping zone.</p>
<% else %>
<ul>
<% @shipping_zone.countries.each do |country| %>
  <li><%= country.name %></li>
<% end %>
</ul>
<% end %>