<h1><%= link_to @forum.name, @forum %> &rarr; New Topic</h1>

<%= render partial: 'spam/spam' %>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :post, url: {action: 'create'} do |f| %>
<span id="current_time">
  <!-- current time placed here by AJAX request -->
</span>
<%= hidden_field_tag 'forum_id', @topic.forum_id %>
<div>
<%= f.label :topic, 'Title' %>:<br>
<input type="text" name="topic" value="<%= @topic.topic %>" />
</div>
<div>
<%= f.label :content, 'Your message' %>:<br>
<%= f.text_area :content %>
</div>
<div>
<%= f.label :author, 'Your name' %>:<br>
<%= f.text_field :author %>
</div>
<div>
<%= f.label :email, 'Your email address (required but not shown)' %>:<br>
<%= f.text_field :email %>
</div>
<%= f.submit 'Post new topic' %>
<% end %>
