<%= page_header "Edit Choice for &#8220;#{h(@feature.name)}&#8221;".html_safe %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Products', products_path %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @feature.product.name, edit_product_path(@feature.product) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @feature.name, edit_feature_path(@feature) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit Choice
  </li>
</ul>

<%= render 'form' %>
