<div class="page-header">
  <h1>Edit Shipping Class</h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Shipping Classes', shipping_classes_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit Shipping Class
  </li>
</ul>

<%= render 'form' %>

<h2>Shipping Table</h2>
<p>
  <%= link_to 'New', {:controller => 'shipping_table_rows', :action => 'new',
  :shipping_class_id => @shipping_class.id}, class: 'btn' %>
</p>
<% if @shipping_class.shipping_table_rows.empty? -%>
<p>You have no shipping rules yet for this shipping class.</p>
<% else -%>
<table class="table">
  <thead>
    <tr>
      <th>Trigger</th>
      <th>Amount</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
<% @shipping_class.shipping_table_rows.each do |row| -%>
    <tr>
      <td><%= row.trigger_value %></td>
      <td><%= row.amount %></td>
      <td>
        <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, row,
        confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini' %>
      </td>
    </tr>
<% end -%>
  </tbody>
</table>
<% end -%>
