<h1>New Additional Product</h1>
<%= flash_notice %>
<div class="form">
	<%= error_messages_for :additional_product -%>

	<fieldset>
		<legend>Add a new feature</legend>
    <%= form_for @additional_product do |form| %>
    <%= render :partial => 'form', :object => form %>

    <%= submit_tag "Add New Additional Product" %>

  <% end %>
  </fieldset>
</div>
