<h1>Upload Actinic Data</h1>
<%= flash_notice %>

<p>Export your data using <code>File | Export</code> and select the ANSI (Windows) and CSV options.</p>

<%= form_for :import, :url=>{:controller=>"actinic_import", :action=>"import_csv"}, :html => { :multipart => true } do |f| %>
<div>
<%= f.label :file, "CSV file to upload" %>:<br />
<%= f.file_field :file -%>
</div>
<%= submit_tag 'Import' -%>
<% end -%>