<%= form_tag controller: 'basket', action: 'update' do %>
<table id="basket">
  <thead>
    <tr>
      <th>Ref</th>
      <th>Item</th>
      <th><%= I18n.t('quantity') %></th>
      <th class="price"><%= I18n.t('price') %></th>
      <th class="line_total"><%= I18n.t('cost') %></th>
      <% if can_update -%>
      <th>Remove Item</th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% @basket.basket_items.each do |item| -%>
    <tr>
      <td><%= item.product.sku %></td>
      <td>
        <%= item.product.name %>
        <% unless item.feature_descriptions.empty? -%>
          <br />
          <small>
            <%= item.feature_descriptions %>
          </small>
        <% end -%>
      </td>
      <td>
      <% if can_update -%>
      <input name="qty[<%= item.id %>]" size="2" maxlength="7" value="<%= item.quantity %>" />
      <% else -%>
      <%= item.quantity %>
      <% end -%>
      </td>
      <td class="price"><%= formatted_price(item.product.price_with_tax(item.quantity, inc_tax)) %></td>
      <td class="line_total"><%= formatted_price(item.line_total(inc_tax)) %></td>
      <% if can_update %>
      <td><input type="submit" value="Remove Item" name="remove_item[<%= item.id %>]" /></td>
      <% end -%>
    </tr>
    <% end -%>
    <% @discount_lines.each do |dl| -%>
    <tr>
      <td>DISCOUNT</td>
      <td><%= dl.name %></td>
      <td class="empty">&nbsp;</td>
      <td class="empty">&nbsp;</td>
      <td><%= formatted_price(dl.price_with_tax(inc_tax)) %></td>
      <% if can_update %>
      <td class="empty">&nbsp;</td>
      <% end %>
    </tr>
    <% end -%>
    <% unless shipping_amount.nil? -%>
    <tr class="shipping_amount">
      <th colspan="4">Shipping amount:</th>
      <td><%= formatted_price shipping_amount %></td>
      <% if can_update %>
      <td class="empty">&nbsp;</td>
      <% end %>
    </tr>
    <% end -%>
    <tr class="basket_total">
      <th colspan="4">Basket total<% unless @w.vat_number.empty? %><% if inc_tax %> inc VAT<% else %> ex VAT<% end %><% end %>:</th>
      <td>
        <% basket_total = @basket.total(inc_tax) + (shipping_amount.nil? ? 0 : shipping_amount) + discount_lines_price_total %>
        <% basket_total += discount_lines_tax_total if inc_tax %>
        <%= formatted_price basket_total %></td>
      <% if can_update %>
      <td class="empty">&nbsp;</td>
      <% end %>
    </tr>
    <% if !website.vat_number.empty? && !inc_tax %>
    <tr class="vat_amount">
      <th colspan="4">VAT:</th>
      <td><% vat_total = @basket.vat_total + discount_lines_tax_total %><%= formatted_price vat_total %></td>
      <% if can_update %>
      <td class="empty">&nbsp;</td>
      <% end %>
    </tr>
    <tr class="total">
      <th colspan="4">Total:</th>
      <td><%= formatted_price(basket_total + vat_total) %></td>
      <% if can_update %>
      <td class="empty">&nbsp;</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% if can_update -%>
<p class="basket_buttons">
<input type="submit" name="update_quantities" value="Update Quantities" />
<input type="submit" name="checkout" value="<%= I18n.t('checkout') %>" />
</p>
<% end -%>
<% end %>


<% if can_update -%>
<h2>Coupons</h2>
<% unless session[:coupons].nil? or session[:coupons].empty? -%>
<div id="applied_coupons">
  <p>You have applied the following coupons:</p>
  <ul>
    <% session[:coupons].each do |coupon| -%>
    <li><%= coupon %> (<%= Discount.find_by(coupon: coupon, website_id: @w.id).name %>) <%= link_to('Remove', controller: :basket, action: :remove_coupon, coupon_code: coupon) %></li>
    <% end %>
  </ul>
</div>
<% end -%>
<p>If you have a coupon code, enter it here.</p>
<%= form_tag controller: 'basket', action: 'enter_coupon' do %>
<input type="text" name="coupon_code" id="coupon_code" />
<input type="submit" value="Apply Coupon" />
<% end %>
<% end -%>
