<% form_tag :controller => 'basket', :action => 'update' do %>
<table id="basket">
  <thead>
    <tr>
      <th>Ref</th>
      <th>Item</th>
      <th>Quantity</th>
      <th class="price">Price</th>
      <th class="line_total">Cost</th>
      <% if can_update -%>
      <th>Remove Item</th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% @basket.basket_items.each do |item| -%>
    <tr>
      <td><%= h item.product.sku %></td>
      <td>
        <%= h item.product.name %>
        <% unless item.feature_descriptions.empty? -%>
          <br />
          <small>
            <%= h(item.feature_descriptions) %>
          </small>
        <% end -%>
      </td>
      <td>
      <% if can_update -%>
      <input name="qty[<%= item.id %>]" size="2" maxlength="7" value="<%= item.quantity %>" />
      <% else -%>
      <%= item.quantity %>
      <% end -%>
      </td>
      <td class="price"><%= formatted_price(item.product.price_at_quantity(item.quantity)) %></td>
      <td class="line_total"><%= formatted_price(item.line_total) %></td>
      <% if can_update %>
      <td><input type="submit" value="Remove Item" name="remove_item[<%= item.id %>]" /></td>
      <% end -%>
    </tr>
    <% end -%>
    <% unless shipping_amount.nil? -%>
    <tr class="shipping_amount">
      <td class="empty" colspan="3">&nbsp;</td>
      <th>Shipping amount:</th>
      <td><%= formatted_price shipping_amount %></td>
      <% if can_update %>
      <td class="empty">&nbsp;</td>
      <% end %>
    </tr>
    <% end -%>
    <tr class="basket_total">
      <td class="empty" colspan="3">&nbsp;</td>
      <th>Total:</th>
      <td><%= formatted_price @basket.total + (shipping_amount.nil? ? 0 : shipping_amount) %></td>
      <% if can_update %>
      <td class="empty">&nbsp;</td>
      <% end %>
    </tr>
  </tbody>
</table>
<% if can_update -%>
<p class="basket_buttons">
<input type="submit" name="update_quantities" value="Update Quantities" />
<input type="submit" name="checkout" value="Checkout" />
</p>
<% end -%>
<% end %>