<h1><%= I18n.t('checkout') %></h1>
<%= flash_notice %>
<h2>Delivery Address</h2>
<% if @address.new_record? -%>
<% form_for @address do |f| %>
  <%= render :partial => 'addresses/form', :object => f %>
  <%= submit_tag 'Next' %>
<% end -%>
<% else -%>
<%= format_address @address %>
<p>(<%= link_to 'Change address', :controller => 'addresses', :action => 'edit', :id => @address.id %>)</p>
<% end -%>
<h2>Your Basket</h2>
<%= render :partial => 'basket', :object => @basket, :locals => {:can_update => false, :shipping_amount => @shipping_amount, :inc_tax => @inc_tax} %>
<% unless @address.new_record? -%>
  <%= form_tag :action => 'place_order' do %>
    <% unless @w.terms_and_conditions.empty? %>
    <div class="terms_and_conditions" id="checkout_terms_and_conditions">
    <%= raw textilize(@w.terms_and_conditions) %>
    </div>
    <% end %>
    <% if @w.preferred_delivery_date_settings %>
      <h2><%= @w.preferred_delivery_date_settings.prompt %></h2>
      <p>
        <%= select_tag(:preferred_delivery_date, @w.preferred_delivery_date_settings.options.html_safe) %>
      </p>
    <% end %>
    <div id="place_order">
    <%= submit_tag 'Place Order' %>
    </div>
  <% end %>
<% end -%>