<h1>Edit User</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form"> 
	 
	<%= form_for @user do |form| %>
  <fieldset>
    <legend>Edit User Details</legend> 
    <div> 
      <%= form.label :name %>:<br>
      <%= form.text_field :name, size: 35, required: true %>
    </div>
    <div>
      <%= form.label :email %>:<br>
      <%= form.email_field :email, size: 35, required: true %>
    </div>
<% if admin? -%>
    <div>
      Administrator:
      <%= form.radio_button :admin, true %>
      <label for="user_admin_true">Yes</label>
      <%= form.radio_button :admin, false %>
      <label for="user_admin">No</label>
    </div>
    <div>
      <%= form.label :manages_website_id, 'Manager for website' %>:<br>
      <%= form.collection_select :manages_website_id, Website.order('name'), :id, :name, {:include_blank => '-- Does not manage a website --'} %>
    </div>
<% end %>

	<%= form.submit('Save') %> &nbsp;
  <%= link_to "cancel", users_path %>
  </fieldset>
  <% end %>
</div>
