<h1>Choose a New Password</h1>

<%= flash_notice %>

<div class="form">
	<fieldset>
	<%= form_tag :action => "forgot_password_change" do %>
	<%= hidden_field_tag 'id', params[:id] %>
	<%= hidden_field_tag 't', params[:t] %>
		<div>
			<label for="password">Password: </label><br />
			<%= password_field_tag :password %>
		</div>
		
		<%= submit_tag "Change" %>
	<% end %>
	</fieldset>
</div>
