<%= page_header 'Users' %>
<p><%= link_to 'New user', new_user_path, class: 'btn btn-primary' %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |u| -%>
    <tr>
      <td><%= link_to u.name, u %></td>
      <td><%= mail_to u.email, u.email %>&nbsp;</td>
      <td><%= tick u.admin %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
