<h1>Join &#8212; Create An Account</h1>
<div class="form">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @user do |form| %>
  <fieldset>
<% if admin? -%>
    <legend>New user details</legend>
<% else -%>
    <legend>Your details</legend>
<% end -%>
    <div>
      <%= form.label :name %>:<br>
      <%= form.text_field :name, required: true %>
    </div>
    <div>
      <%= form.label :email %>:<br>
      <%= form.email_field :email, required: true %><br>
      <small>Kept under lock and key. We hate spam too!</small>
    </div>
    <div>
      <%= form.label :password %>:<br>
      <%= form.password_field :password, required: true %>
    </div>
    <div>
      <%= form.label :password_confirmation %>:<br>
      <%= form.password_field :password_confirmation, required: true %>
    </div>

    <%= submit_tag "Join!" %>
  </fieldset>
  <% end %>
</div>
