<h1><% if admin_or_manager? %><%= link_to "Users", :action => "index" %>
	&rarr; <% end %><%= @user.name %>&#8217;s Account</h1>

<%= flash_notice %>

<div class="details">
	<h2><%= @user.name %> <%= image_for_admin_status(@user) %></h2>

	<p class="email"><strong><%= @user.name %>&#8217;s <%= I18n.translate('users.show.registered_email_address') %>:</strong> <%= mail_to h(@user.email) %></p>
<% if @w.shop? -%>
  <p><%= link_to(h(@user.name) + '&#8217;s orders'.html_safe!, user_orders_path(@user)) %></p>
<% end -%>
<% unless @user.managed_website.nil? -%>
  <p>Website manager for <%= h @user.managed_website.name %></p>
<% end -%>
<% if admin_or_manager? %>
	<p class="modify">
		<%= link_to "edit", :action => "edit", :id => @user.id %> |
		<%= link_to "destroy", { :action => "destroy", :id => @user.id },
		 						 :confirm => 'Are you sure?',
								 :method => :delete %>
	</p>
<% end %>
</div>
