<h1><%= t('.your_account') %></h1>

<div class="details">
	<h2><%= @user.name %></h2>

	<p class="email"><%= t('.registered_email_address') %>: <%= mail_to @user.email %></p>
<% if @w.shop? -%>
  <p><%= link_to(@user.name + '’s orders', user_orders_path(@user)) %></p>
<% end -%>
<% unless @user.managed_website.nil? -%>
  <p>Website manager for <%= @user.managed_website.name %></p>
<% end -%>
	<p class="modify">
		<%= link_to 'Edit', edit_user_path(@user) %>
	</p>
</div>

