<h1><%= t('.your_account') %></h1>

<div class="details">
	<h2><%= @user.name %></h2>

	<p class="email"><%= t('.registered_email_address') %>: <%= mail_to @user.email %></p>
  <ul class="account-links">
    <li><%= link_to(t('.view_your_orders'), user_orders_path(@user)) %></li>
    <li><%= link_to(t('.manage_address_book'), addresses_path) %></li>
  </ul>
	<p class="modify">
		<%= link_to 'Edit', edit_user_path(@user) %>
	</p>
</div>

