<% if admin_or_manager? -%>
<div id="wpadminbar">
  <div class="quicklinks">
    <ul>
<% if admin? -%>
      <li><%= link_to 'Websites', websites_url %></li>
<% end -%>
      <li><%= link_to t('controllers.enquiries'), enquiries_url %></li>
      <li><%= link_to t('controllers.pages'), pages_path %></li>
      <li><%= link_to t('controllers.liquid_templates'), liquid_templates_path %></li>
      <li><%= link_to t('controllers.products'), products_url %></li>
      <li><%= link_to 'Product Groups', product_groups_url %></li>
      <li><%= link_to 'Discounts', discounts_url %></li>
      <li><%= link_to 'Orders', admin_orders_path %></li>
      <li><%= link_to t('controllers.images'), images_path %></li>
      <li><%= link_to 'Forums', forums_path %></li>
      <li><%= link_to t('controllers.users'), admin_users_path %></li>
      <li><%= link_to 'Countries', countries_path %></li>
      <li><%= link_to 'Shipping Zones', shipping_zones_path %></li>
      <li><%= link_to 'Shipping Classes', shipping_classes_path %></li>
      <li><%= link_to 'Website Settings', edit_website_path(@w) %></li>
    </ul>
  </div><!--.quicklinks-->
</div><!--#wpadminbar-->
<% end %>
