<div id="footer">
  &copy;<%= year %> <%= website_name %>. All rights reserved.
  <a href="http://www.yesl.co.uk/">Ruby on Rails development</a> by Your e Solutions Ltd.
  <%= link_to('Terms', terms_path) unless @w.terms_and_conditions.empty? %>
  <%= footer_html %>
</div>
<%= admin_links %>
<%= worldpay_logos %>
</div><!--#wrapper-->
<div id="bottom"></div>
<div id="extra_div_1"><span></span></div><div id="extra_div_2"><span></span></div><div id="extra_div_3"><span></span></div>
<div id="extra_div_4"><span></span></div><div id="extra_div_5"><span></span></div><div id="extra_div_6"><span></span></div>
</body>
</html>
