<div id="footer">
  &copy;<%= year %> <%= website_name %>. All rights reserved.
  <a href="http://www.yesl.co.uk/">Ruby on Rails development</a> by Your e Solutions Ltd.
  <%= link_to('Terms', terms_path) unless @w.terms_and_conditions.blank? %>
  <%= footer_html %>
</div>
<%= admin_links %>
<%= worldpay_logos %>
</div><!--#wrapper-->
<div id="bottom"></div>
</body>
</html>
