<div id="footer">
  &copy;<%= year %> <%= website_name %>. All rights reserved.
  Built by <a href="http://www.yesl.co.uk/" rel="nofollow">Your e Solutions Ltd</a>.
  <%= link_to('Terms', terms_path) unless @w.terms_and_conditions.blank? %>
  <%= footer_html %>
</div>
<%= worldpay_logos %>
</div><!--#wrapper-->
<div id="bottom"></div>
</body>
</html>
