<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= page_title %></title>
  <meta name="description" content="<%= description %>">
  <%= css_screen %>
  <%= css_admin %>
  <%= css_external %>
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= js_application %>
  <%= csrf_meta_tags %>
<% if @w.blog_id -%>
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/forums/feed/<%= @w.blog_id_before_type_cast %>" />
<% end -%>
<% google_analytics_code = render("shared/google_analytics_code") %>
<%= google_analytics_code %>
</head>
<body id="<%= body_id %>" class="<%= body_class %><%= " admin-bar" if admin_or_manager? %>">
<div id="top"></div>
<div id="wrapper">
  <header role="banner">
    <a href="/"><span><%= website_name %></span></a>
  </header>
