<% content_for(:title, t(".title", website: website)) %>
<h1><%= t(".heading") %></h1>

<% if @orders.empty? %>
  <p><%= t(".no_orders") %></p>
<% else %>
  <% @orders.each do |o| %>
    <div class="order">
      <div class="order-summary">
        <div class="order-number">
          <%= t(".order_number", order_number: o.order_number) %>
        </div>
        <div class="order-placed">
          <%= t(".when_placed", when: formatted_time(o.created_at)) %>
        </div>
        <div class="order-status">
          <%= payment_status(o) %>
        </div>
        <div class="order-total">
          <%= t(".total", total: formatted_price(o.total)) %>
        </div>
      </div>
      <div class="order-actions">
        <p>
          <%= link_to "View order details", order_path(o) %>
        </p>
        <%= render partial: "invoice_links", locals: {order: o} %>
        <% o.shipments.where("shipped_at IS NOT NULL").where("tracking_url != ''").each do |shipment| %>
          <p><%= link_to "Track delivery", shipment.tracking_url, target: "_blank", rel: "noopener noreferer" %></p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
