<h1>Orders</h1>

<% if @orders.empty? -%>
<p>There are no orders for you.</p>
<% else -%>
<table id="orders" class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Invoice (PDF)</th>
      <th>Order Total</th>
      <th>When Placed</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |o| -%>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to o.order_number, order_path(o) %></td>
      <td><%= link_to 'Invoice (PDF)', invoice_order_path(o) %></td>
      <td><%= formatted_price(o.total) %></td>
      <td><%= o.created_at %></td>
      <td><%= o.status_description %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
<% end -%>
