<h1>Receipt</h1>

<p>Order number: <%= h @order.order_number %></p>

<p>Order placed: <%= h @order.created_at %></p>

<p>Order status: <%= @order.status_description %></p>

<h2>Deliver to</h2>

<%= format_address @order %>
 
<table id="receipt">

  <tr><th>Product</th><th>Qty</th><th>Price Inc VAT</th></tr>

  <% @order.order_lines.each do |line| -%>
  <tr>
    <td>
      <%= h line.product_name %>
      <% unless line.feature_descriptions.empty? -%>
        <br />
        <small>
          <%= h(line.feature_descriptions) %>
        </small>
      <% end -%>
    </td>
    <td><%= line.quantity %></td>
    <td class="price_column"><%= formatted_price(line.line_total)  %></td>
  </tr>
  <% end -%>
  <tr>
    <th colspan="2"><%= h @order.shipping_method %>:</th>
    <td class="t-price-col"><%= formatted_price(@order.shipping_amount) %></td>
  </tr>
        
  <tr>
    <th colspan="2">Order total:</th>
    <td class="price_column"><%= formatted_price(@order.total) %></td>
  </tr>
  
</table>
