<% content_for(
  :title,
  t(".title", order_number: @order.order_number, website: website)
) %>
<h1>Checkout</h1>
<%= render partial: "checkout/progress", locals: {step: 6} %>

<h2>Order Complete</h2>

<div class="content">
  <p>
    <strong><%= t(".thank_you", company: website.name) %></strong>
  </p>
  <p>
    Here is a summary of your order (we've also sent a copy of this by email):
  </p>
  <p class="order-number">
    Your order reference number is:
    <%= @order.order_number %>
  </p>
  <p>
    Please have this reference number at hand if you need to contact us regarding your order.
    A copy of your order will be emailed to you at
    <%= @order.email_address %>
    once your payment is confirmed (this can take several minutes).
  </p>
</div>

<h3>For reference, here is a summary of your order:</h3>

<p>
  Please take a moment to check the details are correct. If anything isn't quite
  right, please contact us quoting your order reference number above and we'll
  be happy to help.
</p>

<h2>Order tracking</h2>
<p><strong>Did you know you can track your order progress online?</strong></p>
<p>
  Simply log in to you account with your email address and password and select &ldquo;My Orders&rdquo;.
  From here you can see an up-to-date status of each order, including your delivery tracking information.
</p>

<%= render partial: "view", locals: {order: @order} %>

<% if @order.sales_conversion_recorded_at.nil? %>
  <% Orders::SalesConversion.new(@order).record! %>
  <%= render partial: "conversion_code", locals: {order: @order} %>
<% end %>
