<h1>Choose How You Would Like to Pay</h1>

<script>
$(function() {
  var $form = $('.pay-by form');
  if($form.length == 1) {
    $form.hide().after('<p>You are now being redirected...</p>').submit();
  }
});
</script>

<% if website.upg_atlas_active? -%>
<%= render 'upg_atlas' %>
<% end -%>

<% if website.sage_pay_active? -%>
<%= render 'sage_pay' %>
<% end -%>

<% if website.paypal_active? -%>
<div class="pay-by" id="pay_by_paypal">
<h2>Pay by PayPal</h2>
<p>
  You do not need to have a PayPal account to pay by PayPal.<br>
  You can pay using your debit or credit card with PayPal.
</p>
<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="return" value="<%= paypal_auto_return_payments_url %>">
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="business" value="<%= website.paypal_email_address %>">
  <input type="hidden" name="currency_code" value="GBP">
  <input type="hidden" name="item_name" value="<%= @order.order_number %>">
<% if website.skip_payment? -%>
  <input type="hidden" name="amount" value="0.01">
<% else -%>
  <input type="hidden" name="amount" value="<%= @order.total %>">
<% end -%>
  <input type="hidden" name="shipping" value="0.00">
  <input type="hidden" name="tax" value="0.00">
  <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" align="top"
  border="0" alt="Make payments with PayPal - it's fast, free and secure!">
</form>
</div><!--#pay_by_paypal-->
<% end -%>

<% if website.cardsave_active? -%>
<div class="pay-by" id="pay_by_cardsave">
<h2>Pay by Credit/Debit Card</h2>
<form method="post" action="https://mms.cardsaveonlinepayments.com/Pages/PublicPages/PaymentForm.aspx">
  <input type="hidden" name="HashDigest" value="<%= @cardsave_hash %>">
  <input type="hidden" name="MerchantID" value="<%= website.cardsave_merchant_id %>">
  <input type="hidden" name="Amount" value="<%= (@order.total * 100).to_int %>">
  <input type="hidden" name="CurrencyCode" value="826">
  <input type="hidden" name="OrderID" value="<%= @order.order_number %>">
  <input type="hidden" name="TransactionType" value="SALE">
  <input type="hidden" name="TransactionDateTime" value="<%= @cardsave_transaction_date_time %>">
  <input type="hidden" name="CallbackURL" value="<%= cardsave_callback_payments_url %>">
  <input type="hidden" name="OrderDescription" value="Web purchase">
  <input type="hidden" name="CustomerName" value="<%= @order.delivery_full_name %>">
  <input type="hidden" name="Address1" value="<%= @order.delivery_address_line_1 %>">
  <input type="hidden" name="Address2" value="<%= @order.delivery_address_line_2 %>">
  <input type="hidden" name="Address3" value="">
  <input type="hidden" name="Address4" value="">
  <input type="hidden" name="City" value="<%= @order.delivery_town_city %>">
  <input type="hidden" name="State" value="<%= @order.delivery_county %>">
  <input type="hidden" name="PostCode" value="<%= @order.delivery_postcode %>">
  <input type="hidden" name="CountryCode" value="826">
  <input type="hidden" name="CV2Mandatory" value="true">
  <input type="hidden" name="Address1Mandatory" value="true">
  <input type="hidden" name="CityMandatory" value="true">
  <input type="hidden" name="PostCodeMandatory" value="true">
  <input type="hidden" name="StateMandatory" value="true">
  <input type="hidden" name="CountryMandatory" value="true">
  <input type="hidden" name="ResultDeliveryMethod" value="POST">
  <input type="hidden" name="ServerResultURL" value="">
  <input type="hidden" name="PaymentFormDisplaysResult" value="false">
  <input type="submit" value="Proceed to Cardsave">
</form>
</div><!--#pay_by_cardsave-->
<% end -%>

<% if website.worldpay_active? -%>
<div class="pay-by" id="pay_by_worldpay">
  <% if website.skip_payment? -%>
  <h2>Skipping payment for WorldPay</h2>
  <p>The correct values are entered below and can be changed for testing.
    <code>callbackPW</code> is neither displayed nor verified in this test mode.</p>
  <form action="/payments/rbs_worldpay_callback" method="post">
    <div>
      <input type="submit" value="Skip WorldPay payment" />
    </div>
    <div>
      <label>instId</label>:<br>
      <input type="text" name="instId" value="<%= website.worldpay_installation_id %>" />
    </div>
    <div>
      <label>cartId</label>:<br>
      <input type="text" name="cartId" value="<%= @order.order_number %>" />
    </div>
    <div>
      <label>desc</label>:<br>
      <input type="text" name="desc" value="Web purchase" />
    </div>
    <div>
      <label>amount</label>:<br>
      <input type="text" name="amount" value="<%= @order.total %>" />
    </div>
    <div>
      <label>currency</label>:<br>
      <input type="text" name="currency" value="GBP" />
    </div>
    <div>
      <label>testMode</label>:<br>
      <input type="text" name="testMode" value="100" />
    </div>
    <div>
      <label>name</label>:<br>
      <input type="text" name="name" value="<%= @order.delivery_full_name %>" />
    </div>
    <div>
      <label>address</label>:<br>
      <textarea name="address"><%= address_for_worldpay(@order.delivery_address) %></textarea>
    </div>
    <div>
      <label>postcode</label>:<br>
      <input type="text" name="postcode" value="<%= @order.delivery_postcode %>" />
    </div>
    <div>
      <label>country</label>:<br>
      <input type="text" name="country" value="<%= @order.delivery_country.iso_3166_1_alpha_2 %>" />
    </div>
    <div>
      <label>tel</label>:<br>
      <input type="text" name="tel" value="" />
    </div>
    <div>
      <label>fax</label>:<br>
      <input type="text" name="fax" value="" />
    </div>
    <div>
      <label>email</label>:<br>
      <input type="text" name="email" value="<%= @order.email_address %>" />
    </div>
    <div>
      <label>transId</label>:<br>
      <input type="text" name="transId" value="SKIPPED" />
    </div>
    <div>
      <label>transStatus</label>:<br>
      <input type="text" name="transStatus" value="Y" />
    </div>
    <div>
      <label>transTime</label>:<br>
      <input type="text" name="transTime" value="SKIPPED" />
    </div>
    <div>
      <label>rawAuthMessage</label>:<br>
      <input type="text" name="rawAuthMessage" value="SKIPPED" />
    </div>
    <div>
      <input type="submit" value="Skip WorldPay payment" />
    </div>
  </form>
  <% else -%>
<form action="https://secure<%= (website.worldpay_test_mode? ? '-test' : '') %>.worldpay.com/wcc/purchase" method="post">
<input type="hidden" name="cartId" value="<%= @order.order_number %>" />
<input type="hidden" value="<%= website.worldpay_installation_id %>" name="instId" />
<input type="hidden" value="<%= @order.total %>" name="amount" />
<input type="hidden" value="Web purchase" name="desc" />
<input type="hidden" value="GBP" name="currency" />
<% if website.worldpay_test_mode? -%>
<input type="hidden" value="100" name="testMode" />
<% end -%>
<input type="hidden" value="<%= @order.delivery_full_name %>" name="name" />


<input type="hidden" value="<%= address_for_worldpay(@order.delivery_address) %>" name="address" />
<input type="hidden" value="<%= @order.delivery_postcode %>" name="postcode" />
<input type="hidden" value="<%= @order.delivery_country.iso_3166_1_alpha_2 %>" name="country" />
<input type="hidden" name="tel" value="<%= @order.delivery_phone_number %>" />
<input type="hidden" value="<%= @order.email_address %>" name="email" />

<input type="submit" class="button" value="Proceed to WorldPay" />
</form>
  <% end -%>
</div><!--#pay_by_worldpay-->
<% end -%>
