<div>
	<%= form.label :title %>:<br />
	<%= form.text_field :title, :class => "text" %>
</div>

<div>
	<%= form.label :name %>:<br />
	<%= form.text_field :name, :class => "text" %>
</div>

<div>
	<%= form.label :slug %>:<br />
	<%= form.text_field :slug, :class => "text" %>
</div>

<fieldset>
  <legend>Meta tags</legend>
  <div>
  	<%= form.label :keywords %>:<br />
  	<%= form.text_field :keywords, :class => "text" %>
  </div>

  <div>
  	<%= form.label :description %>:<br />
  	<%= form.text_field :description, :class => "text" %>
  </div>
</fieldset>