<%= flash_notice %>
<%= raw textilize(@page.content) %>
<% unless @page.children.empty? -%>
<div id="child_pages">
  <% @page.children.each do |child| -%>
  <div class="child_page">
    <p class="child_page_image">
      <% unless child.image.nil? -%>
      <%= link_to image_tag(child.image.url(@w.page_thumbnail_size), :alt => child.image.name), page_path(child) %>
      <% end -%>
    </p>
    <%= link_to child.name, page_path(child) %>
  </div>
  <% end -%>
</div>
<% end -%>
<% @page.product_placements.each do |placement| %>
  <% product = placement.product %>
  <%= render :partial => 'products/product', :object => product, :locals => {:placement => placement, :page => @page, :full => false} %>
<% end %>
<% if admin_or_manager? -%>
<div id="page_admin_controls">
  <h2>Admin Controls</h2>
  <!-- I probably need moving to product_placement/_form.html -->
  <% unless @w.products.empty? -%>
  <% form_for @product_placement do |form| %>
  <input type="hidden" name="product_placement[page_id]" value="<%= @page.id %>" />
  <%= form.collection_select :product_id, @w.products, :id, :name_with_sku %>
  <%= submit_tag 'Add Product' %>
  <% end %>
  <% end -%>
  <p><%= link_to 'Edit this page', :action => 'edit', :id => @page.id %></p>
  <% form_tag :controller => 'pages', :action => 'destroy', :id => @page.id do -%>
    <input type="submit" value="Delete Page" />
  <% end -%>
</div>
<% end -%>