<%= flash_notice %>
<%= @page.content %>

<% @page.children.visible.each do |child| -%>
  <div class="childPage">
    <p class="childPage-image">
      <% if child.image.present? -%>
      <%= link_to image_tag(child.image.url(website.page_thumbnail_size), alt: child.image.name), child.path %>
      <% end -%>
    </p>
    <%= link_to child.name, child.path %>
  </div>
<% end -%>

<% @page.active_product_placements.each do |placement| %>
  <% product = placement.product %>

  <%= render partial: "products/product", object: product, locals: {
    full: false,
    page: @page,
    placement: placement,
  } %>
<% end %>
