<div class="page-header">
  <h1>Edit Product Group</h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Product Groups', product_groups_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit Product Group
  </li>
</ul>

<%= render 'form' %>

<h2>Products in this group</h2>

<% unless @w.products.empty? -%>
<%= form_for @product_group_placement do |form| -%>
<input type="hidden" name="product_group_placement[product_group_id]" value="<%= @product_group.id %>">
<%= form.collection_select :product_id, @w.products, :id, :name %>
<br><%= submit_tag 'Add Product', class: 'btn' %>
<% end -%>
<% end -%>

<% if @product_group.products.empty? -%>

<p>There are no products in this group yet.</p>
<% else -%>
<table class="table table-bordered table-striped">
<% @product_group.product_group_placements.each do |placement| -%>
  <tr><td><%= placement.product.name %></td>
    <td>
      <%= link_to '<i class="icon-trash icon-white"></i> Remove From Group'.html_safe,
      placement, method: :delete,
      confirm: 'Are you sure?', class: 'btn btn-danger btn-mini' %>
    </td>
  </tr>
<% end -%>
</table>
<% end -%>