<%= page_header 'Enquiries' %>

<% if @enquiries.empty? -%>
<p>No enquiries have been sent yet.</p>
<% else -%>

<table class="table table-bordered table-striped">
  <tr>
    <th>Sent</th>
    <th>Name</th>
    <th>Organisation</th>
    <th>Postcode</th>
    <th>Telephone</th>
    <th>Email</th>
    <th>Call back</th>
    <th>Actions</th>
  </tr>

<% @enquiries.each do |enquiry| %>
  <tr>
    <td><%= enquiry.created_at %></td>
    <td><%= enquiry.name %></td>
    <td><%= enquiry.organisation %></td>
    <td><%= enquiry.postcode %></td>
    <td><%= enquiry.telephone %></td>
    <td><%= enquiry.email %></td>
    <td><%= enquiry.call_back %></td>
    <td style="width: 150px;">
      <%= link_to 'View', [:admin, enquiry], class: 'btn btn-default' %>
      <%= edit_button [:admin, enquiry] %>
      <%= delete_button [:admin, enquiry] %>
    </td>
  </tr>
<% end %>
</table>

<% end -%>