<%= form.label :full_name %>
<%= form.text_field :full_name, required: true %>

<%= form.label :email_address %>
<%= form.email_field :email_address, required: true %>

<%= form.label :address_line_1 %>
<%= form.text_field :address_line_1, required: true %>

<%= form.label :address_line_2 %>
<%= form.text_field :address_line_2 %>

<%= form.label :town_city, 'Town/city' %>
<%= form.text_field :town_city, required: true %>

<%= form.label :county %>
<%= form.text_field :county %>

<%= form.label :postcode %>
<%= form.text_field :postcode, required: true %>

<p>
  Please contact us for a delivery quote if your
  country is not provided in the list below.
</p>

<%= form.label :country_id %>
<%= collection_select :address, :country_id, Country.shipping, :id, :name %>

<%= form.label :phone_number %>
<%= form.phone_field :phone_number %>

<%= form.label :label %>
<%= form.phone_field :label %>
