<h1>New Address</h1>
<div class="form">

<% if @address.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

    <ul>
    <% @address.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= form_for @address do |f| %>
  <%= render partial: 'form', object: f %>
  <%= submit_tag 'Save' %>
<% end %>
</div>
