<div>
	<%= form.label :name %>:<br>
	<%= form.text_field :name, :class => "text" %>
</div>
<div>
	<%= form.label :iso_3166_1_alpha_2, 'ISO 3166-1-alpha-2' %>:<br>
	<%= form.text_field :iso_3166_1_alpha_2, :class => "text" %>
</div>
<div>
  <%= form.label :shipping_zone_id %>:<br />
  <%= form.collection_select :shipping_zone_id, @w.shipping_zones, :id, :name, {:include_blank => '-- No shipping zone --'} %>
</div>
