<div class="page-header">
  <h1>Countries</h1>
</div>

<p>
  <%= link_to 'New', new_country_path, class: 'btn btn-primary' %>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Country</th>
      <th>ISO 3166-1-alpha-2</th>
      <th>Shipping Zone</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
<% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td><%= country.iso_3166_1_alpha_2 %></td>
      <td><%= country.shipping_zone ? country.shipping_zone.name : '-' %></td>
      <td>
        <%= link_to '<i class="icon-edit"></i> Edit'.html_safe,
        edit_country_path(country), class: 'btn btn-mini' %>
        <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe,
        country, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
