<% if @discount.errors.any? -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

  <ul>
<% @discount.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
<% end -%>
  </ul>
</div>
<% end -%>

<%= form_for @discount do |form| %>

	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.label :coupon %>
  <%= form.text_field :coupon %>

  <%= form.label :reward_type %>
  <select id="reward_type" name="discount[reward_type]">
    <option value="<%= :free_products %>"<%= ' selected="selected"' if @discount.reward_type==:free_products %>>Free products</option>
  </select>

  <%= form.label :free_products_group_id %>
  <%= form.collection_select :free_products_group_id, @w.product_groups, :id, :name, {include_blank: '-- Not applicable --'} %>

  <br><%= form.submit class: 'btn btn-primary' %>

<% end %>
