<h1>New Discount</h1>
<%= flash_notice %>

<div class="form">
	<%= error_messages_for :discount -%>

	<fieldset>
		<legend>Add a new discount</legend>
    <%= form_for @discount do |form| %>
    <%= render :partial => 'form', :object => form %>

    <%= submit_tag "Create New Discount" %>

  <% end %>
  </fieldset>
</div>