<% content_for(:title, t(".title", website: website)) %>
<h1><%= t(".heading") %></h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form">

  <%= form_for @user, url: account_path do |form| %>
    <fieldset>
      <legend>Edit User Details</legend>
      <div>
        <%= form.label :name %>:<br>
        <%= form.text_field :name, size: 35, required: true %>
      </div>
      <div>
        <%= form.label :email %>:<br>
        <%= form.email_field :email, size: 35, required: true %>
      </div>

      <h2><%= t('.communication_preferences') %></h2>

      <div>
        <label>
          <%= check_box_tag :explicit_opt_in, "1", @user.explicit_opt_in_at %>
          <%= t(".opt_in", company: website.name) %>
        </label>
      </div>

      <%= form.submit("Save") %>
      <%= link_to "cancel", account_path %>
    </fieldset>
  <% end %>
</div>
