<% if @user.errors.any? %>
  <%= dismissable_error_message do %>
    <h2> <%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %> </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div class="form">
  <%= bootstrap_form_for [:admin, @user] do |form| %>
    <div class="form-group">
      <%= form.text_field :customer_reference, size: 35 %>
    </div>
    <div class="form-group">
      <%= form.text_field :name, size: 35, required: true %>
    </div>
    <div class="form-group">
      <%= form.email_field :email, size: 35, required: true %>
    </div>
    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, size: 35, required: @user.new_record? %>
    </div>
    <div class="form-group">
      <%= form.password_field :password_confirmation, size: 35, required: @user.new_record? %>
    </div>

    <%= form.submit(t('.save'), class: 'btn btn-primary') %>
    <%= link_to t('.cancel'), admin_users_path %>
  <% end %>
</div>
