<footer role="contentinfo">
  &copy;<%= Date.today.year %> <%= website.name %>. All rights reserved.
  Built by <a href="http://www.yesl.co.uk/" rel="nofollow">Your e Solutions Ltd</a>.
  <%= link_to('Terms', terms_path) unless website.terms_and_conditions.blank? %>
  <%= website.footer_html %>
</footer>
<%= website.worldpay_active? ? template("worldpay_logos", installation_id: website.worldpay_installation_id) : '' %>
</div><!--#wrapper-->
<div id="bottom"></div>
</body>
</html>
