<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title ? @title : website.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= @description %>">
    <%= robots_meta_tag(index: !@no_index, follow: !@no_follow) %>
    <%= website.use_default_css? ? stylesheet_link_tag('screen', media: 'screen', 'data-turbolinks-track': 'reload') : '' %>
    <%= website.css_url.blank? ? '' : stylesheet_link_tag(website.css_url, media: 'screen',  'data-turbolinks-track': 'reload') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render("shared/google_analytics_code") %>
  </head>
  <body id="<%= body_id %>" class="<%= body_class %><%= " admin-bar" if admin_or_manager? %>">
    <div id="top"></div>
    <div id="wrapper">
      <header role="banner">
        <a href="/"><span><%= website.name %></span></a>
      </header>
