<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title ? @title : website.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= @description %>">
    <%= robots_meta_tag(index: !@no_index, follow: !@no_follow) %>
    <%= stylesheet_link_tag("screen", media: "screen", "data-turbolinks-track": "reload") %>
    <%= javascript_importmap_tags %>
    <%= render("shared/google_analytics_code") %>
  </head>
  <body>
    <div id="top"></div>
    <div id="wrapper">
      <header role="banner">
        <a href="/"><span><%= website.name %></span></a>
      </header>
