<% if admin_or_manager? -%>
<div class="product_admin_controls">
<p>
  <%= link_to 'Edit ' + product.name, edit_product_path(product) %><br />
  <%= link_to 'Add feature to ' + product.name, new_feature_path(:product_id => product.id) %>
</p>
<% if defined? placement -%>
<%= button_to "Remove from page", product_placement_path(placement), :method => :delete %>
<% unless placement.first? %>
<%= button_to "Move Up", :controller => 'product_placements', :action => 'move_up', :id => placement.id %>
<% end %>
<% unless placement.last? %>
<%= button_to "Move Down", :controller => 'product_placements', :action => 'move_down', :id => placement.id %>
<% end %>
<% end -%>
</div>
<% end -%>
