<% if @product.errors.any? -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
<% @product.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
<% end -%>
  </ul>
</div>
<% end -%>

<%= form_for @product do |form| -%>

<%= form.label :sku, '<abbr title="Stock-keeping unit / reference number">SKU</abbr>'.html_safe %>
	<%= form.text_field :sku, class: 'span2' %>

	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.label :price %>
	<%= form.text_field :price, class: 'span1' %> GBP

  <%= form.label :rrp, 'RRP (leave blank if same as price)' %>
  <%= form.text_field :rrp, class: 'span1' %> GBP

	<%= form.label :shipping_supplement %>
	<%= form.text_field :shipping_supplement, class: 'span1' %> GBP

  <%= form.label :tax_type %>
  <select id="product_tax_type" name="product[tax_type]">
    <option value="<%= Product::NO_TAX %>"<%= ' selected="selected"' if @product.tax_type==Product::NO_TAX %>>No tax</option>
    <option value="<%= Product::INC_VAT %>"<%= ' selected="selected"' if @product.tax_type==Product::INC_VAT %>>Price includes VAT</option>
    <option value="<%= Product::EX_VAT %>"<%= ' selected="selected"' if @product.tax_type==Product::EX_VAT %>>Price excludes VAT</option>
  </select>

	<%= form.label :weight %>
	<%= form.text_field :weight, class: 'span1' %> kg

	<%= form.label :image_id %>
  <%= select :product, :image_id, image_options %>

	<%= form.label :description %>
	<%= form.text_area :description, rows: 8, class: 'input-xlarge' %>

	<%= form.label :full_detail %>
	<%= form.text_area :full_detail, rows: 12, class: 'input-xlarge' %>

	<label for="product_apply_shipping_true">Apply shipping?</label>
	<label class="radio">
    <%= form.radio_button :apply_shipping, true, :class => "radio" %>
	  Yes
  </label>
	<label class="radio">
    <%= form.radio_button :apply_shipping, false, :class => "radio" %>
	  No
  </label>

  <h2>Page Information</h2>

  <%= form.label :page_title %>
  <%= form.text_field :page_title %>

	<%= form.label :meta_description %>
	<%= form.text_field :meta_description, class: 'input-xlarge' %>

  <h2>Google Product Data</h2>

  <label for="product_submit_to_google_true">Submit to Google?</label>
  <label class="radio">
    <%= form.radio_button :submit_to_google, true, class: "radio" %>
    Yes
  </label>
  <label class="radio">
    <%= form.radio_button :submit_to_google, false, class: "radio" %>
    No
  </label>

  <%= form.label :google_title %>
  <%= form.text_field :google_title %>

  <%= form.label :availability %>
  <%= select("product", "availability", Product::AVAILABILITIES) %>

  <%= form.label :condition %>
  <%= select("product", "condition", Product::CONDITIONS) %>

  <%= form.label :google_product_category %>
  <%= form.text_field :google_product_category %>

  <%= form.label :product_type %>
  <%= form.text_field :product_type %>

  <%= form.label :brand %>
  <%= form.text_field :brand %>

  <%= form.label :gtin, '<abbr title="Global Trade Item Number">GTIN</abbr>'.html_safe %>
  <%= form.text_field :gtin %>

  <%= form.label :mpn, '<abbr title="Manufacturer Part Number">MPN</abbr>'.html_safe %>
  <%= form.text_field :mpn %>

  <br><%= form.submit class: 'btn btn-primary' %>

<% end -%>
