<div class="product">
  <% unless full -%>
  <h2><%= link_to h(product.name), product_path(product) %></h2>
  <% end -%>
  <% unless product.image.nil? -%>
  <p class="product_image">
    <% if full %>
    <%= image_tag(product.image.url(400)) %>
    <% else %>
    <%= link_to image_tag(product.image.url(200)), product_path(product) %>
    <% end %>
  </p>
  <% end -%>
  <div class="product_detail">
    <% form_tag :controller => 'basket', :action => 'add' do |form| %>
    <input type="hidden" name="product_id" value="<%= product.id %>" />
    <% if defined? page -%>
    <input type="hidden" name="page_id" value="<%= page.id %>" />
    <% end -%>
    <div class="product_description">
      <% if full and !product.full_detail.empty? -%>
      <%= textilize(product.full_detail) %>
      <% else -%>
      <%= textilize(product.description) %>
      <% end -%>
    </div>
    <% unless product.features.empty? %>
    <div class="product_features">
      <% product.features.each do |feature| -%>
      <p>
        <%= h feature.name %>:
        <% case feature.ui_type
        when Feature::TEXT_FIELD %>
          <input type="text" name="feature[<%= feature.id %>]" />
        <% when Feature::DROP_DOWN %>
          <select name="feature[<%= feature.id %>]">
            <% feature.choices.each do |choice| %>
            <option value="<%= choice.id %>"><%= h choice.name %></option>
            <% end %>
          </select>
        <% end %>
        <% if admin? -%>
        <%= link_to 'Edit feature', edit_feature_path(feature.id) %>
        <% end -%>
      </p>
      <% end -%>
    </div>
    <% end -%>
    <p class="product_price">
      Price:
      <%= formatted_price(product.price) %>
    </p>
    <%= submit_tag 'Add to Basket' %>
    <% end %>
  </div>
  <% if admin? -%>
  <p>
    <%= link_to 'Edit ' + h(product.name), edit_product_path(product) %><br />
    <%= link_to 'Add feature to ' + h(product.name), new_feature_path(:product_id => product.id) %>
  </p>
  <% if defined? placement -%>
  <%= button_to "Remove from page", product_placement_path(placement), :method => :delete %>
  <% end -%>
  <% end -%>
</div>
