<div class="product<%= ' full_product' if full %>" id="product_<%= product.id %>">
  <% unless full -%>
  <h2><%= link_to product.name, product_path(product) %></h2>
  <% end -%>
  <% unless product.image.nil? -%>
  <p class="product_image">
    <% if full %>
    <% product_image_url = product.image.nil? ? '' : product.image.url(website.product_thumbnail_size) %>
    <%= image_tag(product_image_url, alt: product.image.name) %>
    <% else %>
    <%= link_to image_tag(product.image.url(@w.product_thumbnail_size), alt: product.image.name), product_path(product) %>
    <% end %>
  </p>
  <% end -%>
  <div class="product_detail">
    <%= form_tag controller: 'basket', action: 'add' do %>
    <input type="hidden" name="product_id" value="<%= product.id %>" />
    <% if defined? page -%>
    <input type="hidden" name="page_id" value="<%= page.id %>" />
    <% end -%>
    <div class="product_description">
      <% if full and !product.full_detail.blank? -%>
      <%= raw textilize(product.full_detail) %>
      <% else -%>
      <%= raw textilize(product.description) %>
      <% end -%>
    </div>
    <%= render(partial: "products/product_features", locals: {product: product}) %>
    <%= render(partial: "products/additional_products", locals: {product: product}) %>
    <p class="product_price">
      <%= I18n.t('price') %>:
      <%= formatted_price(product.price_with_vat(1, @inc_vat)) %><%= vat_explanation(product) %>
    </p>
    <span class="quantity"><label><%= I18n.t('quantity') %>: <input type="text" name="quantity" value="1" /></label></span>
    <% unless website.shopping_suspended? %>
      <span class="add_to_basket"><%= submit_tag I18n.t('add_to_cart') %></span>
    <% end %>
    <% quantity_prices_table(product) %>
    <% end %>
  </div>
</div>
