<div class="page-header">
  <h1>Edit Product</h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Products', products_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit Product
  </li>
</ul>

<div class="row">
  <div class="span6">
    <%= render 'form' %>
  </div>
  <div class="span6">

    <h2>Features</h2>

    <p><%= link_to 'Add Feature', new_feature_path(:product_id => @product.id), class: 'btn' %></p>
<% unless @product.features.empty? -%>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Feature</th>
        <th>Actions</th>
      </tr>
<% @product.features.each do |feature| -%>
      <tr>
        <td>
          <%= feature.name %>
        </td>
        <td style="width: 130px;">
          <%= edit_button(feature) %>
          <%= delete_button(feature) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>

    <h2>Components</h2>

    <p><%= link_to 'Add Component', new_component_path(product_id: @product.id), class: 'btn' %></p>
<% unless @product.components.empty? -%>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Component</th>
        <th>Actions</th>
      </tr>
<% @product.components.each do |component| -%>
      <tr>
        <td>
          <%= component.name %>
        </td>
        <td style="width: 130px;">
          <%= edit_button(component) %>
          <%= delete_button(component) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>

    <h2>Additional Products</h2>

    <p><%= link_to 'Add Additional Product', new_additional_product_path(:product_id => @product.id), class: 'btn' %></p>
<% unless @product.additional_products.empty? -%>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Product</th>
        <th>Actions</th>
      </tr>
<% @product.additional_products.each do |additional_product| -%>
      <tr>
        <td>
          <%= additional_product.additional_product.name %>
        </td>
        <td style="width: 130px;">
          <%= edit_button(additional_product) %>
          <%= delete_button(additional_product) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>

    <h2>Quantity&#8208;based Pricing</h2>
<% if @product.quantity_prices.empty? -%>
    <p>This product is not using quantity&#8208;based pricing.</p>
<% end -%>

    <p><%= link_to 'Add Quantity/Price Rule', new_quantity_price_path(:product_id => @product.id), class: 'btn' %>

    <% quantity_prices_table(@product) do |qp| %>
    <td style="width: 130px;">
      <%= edit_button(qp) %>
      <%= delete_button(qp) %>
    </td>
    <% end %>
  </div>
</div>
