<h1>Edit Product</h1>
<%= flash_notice %>

<div class="form">
	<%= error_messages_for :product -%>

	<fieldset>
		<legend>Edit product</legend>
    <% form_for @product do |form| %>
    <%= render :partial => 'form', :object => form %>

    <%= submit_tag "Save" %>

  <% end %>
  </fieldset>
</div>

<h2>Features</h2>

<p><%= link_to 'Add Feature', new_feature_path(:product_id => @product.id) %></p>
<% @product.features.each do |feature| -%>
<div class="feature">
  <p><%= h feature.name %> <%= link_to "Edit", edit_feature_path(feature) %></p>
  <% form_tag feature_path(feature), :method => :delete do -%>
    <input type="submit" value="Delete" />
  <% end -%>
</div>
<% end -%>
