<h1>Edit Product</h1>
<%= flash_notice %>

<div class="form">
	<%= error_messages_for :product -%>

	<fieldset>
		<legend>Edit product</legend>
    <% form_for @product do |form| %>
    <%= render :partial => 'form', :object => form %>

    <%= submit_tag "Save" %>

  <% end %>
  </fieldset>
</div>

<h2>Features</h2>

<p><%= link_to 'Add Feature', new_feature_path(:product_id => @product.id) %></p>
<% @product.features.each do |feature| -%>
<div class="feature">
  <p><%= feature.name %> <%= link_to "Edit", edit_feature_path(feature) %></p>
  <%= form_tag feature_path(feature), :method => :delete do -%>
    <input type="submit" value="Delete Feature" />
  <% end -%>
</div>
<% end -%>

<h2>Quantity&#8208;based pricing</h2>
<% if @product.quantity_prices.empty? -%>
<p>This product is not using quantity&#8208;based pricing.</p>
<% end -%>

<% quantity_prices_table(@product) do |qp| %>
  <td>
    <%= link_to 'Edit', edit_quantity_price_path(qp) %>
    <%= button_to "Delete", quantity_price_path(qp), :method => :delete %>
  </td>
<% end %>

<p><%= link_to 'Add a quantity/price rule', new_quantity_price_path(:product_id => @product.id) %>
