<?xml version="1.0"?>
<rss version="2.0"
xmlns:g="http://base.google.com/ns/1.0"
xmlns:c="http://base.google.com/cns/1.0">
<channel>
  <title><%= website.name %></title>
  <link>http://<%= website.domain %></link>
  <description><%= website.name %> product data feed</description>
<% @products.each do |p| -%>
  <item>
    <title><%= p.title_for_google %></title>
    <link>http://<%= website.domain %><%= url_for p %></link>
    <g:description><%= strip_tags p.description_for_google %></g:description>
    <g:price><%= formatted_gbp_price p.price_with_tax(1, !website.vat_number.empty?) %></g:price>
<% unless p.image.nil? -%>
    <g:image_link>http://<%= website.domain %><%= p.image.url(website.product_image_size) %></g:image_link>
<% end -%>
    <g:condition><%= p.condition %></g:condition>
    <g:id><%= p.id %></g:id>
<% unless p.google_product_category.blank? -%>
    <g:google_product_category><%= p.google_product_category %></g:google_product_category>
<% end -%>
<% unless p.product_type.blank? -%>
    <g:product_type><%= p.product_type %></g:product_type>
<% end -%>
<% unless p.brand.blank? -%>
    <g:brand><%= p.brand %></g:brand>
<% end -%>
<% unless p.gtin.blank? -%>
    <g:gtin><%= p.gtin %></g:gtin>
<% end -%>
<% unless p.mpn.blank? -%>
    <g:mpn><%= p.mpn %></g:mpn>
<% end -%>
<% if p.age_group.present? -%>
    <g:age_group><%= p.age_group %></g:age_group>
<% end -%>
<% unless p.gender.blank? -%>
    <g:gender><%= p.gender %></g:gender>
<% end -%>
    <g:availability><%= p.availability %></g:availability>
  </item>
<% end -%>
</channel>
</rss>
