<%= page_header 'Edit Feature' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Products', products_path %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @feature.product.name, edit_product_path(@feature.product) %>
    <span class="divider">/</span>
  </li>
<% if @feature.component %>
  <li>
    <%= link_to @feature.component.name, edit_component_path(@feature.component) %>
    <span class="divider">/</span>
  </li>
<% end %>
  <li class="active">
    Edit Feature
  </li>
</ul>

<div class="row">

  <div class="span6">
    <%= render 'form' %>
  </div>

  <div class="span6">
    <h2>Choices</h2>
    <p><%= link_to 'Add choice', new_choice_path(feature_id: @feature.id), class: 'btn' %></p>
<% if @feature.choices.empty? -%>
    <p>This feature has no choices.</p>
<% else -%>
    <table class="table">
<% @feature.choices.each do |choice| -%>
      <tr>
        <td>
          <%= choice.name %>
        </td>
        <td>
          <%= edit_button(choice) %>
          <%= delete_button(choice) %>
        </td>
      </tr>
<% end -%>
    </table>
<% end -%>
  </div>
</div>
