<h1>Edit Feature</h1>
<%= flash_notice %>
<div class="form">
	<%= error_messages_for :feature -%>

	<fieldset>
		<legend>Edit feature</legend>
    <% form_for @feature do |form| %>
    <%= render :partial => 'form', :object => form %>

    <%= submit_tag "Update Feature" %>

  <% end %>
  </fieldset>
</div>
<h2>Choices</h2>
<% if @feature.choices.empty? -%>
<p>This feature has no choices.</p>
<% else -%>
<table>
<% @feature.choices.each do |choice| -%>
  <tr>
    <td>
      <%= link_to h(choice.name), edit_choice_path(choice) %>
    </td>
    <td>
      <td><%= button_to "Delete", choice_path(choice), :method => :delete %></td>
    </td>
  </tr>
<% end -%>
</table>
<% end -%>
<p><%= link_to 'Add choice', new_choice_path(:feature_id => @feature.id) %></p>
