<h1>New Feature</h1>
<%= flash_notice %>
<div class="form">
	<%= error_messages_for :feature -%>

	<fieldset>
		<legend>Add a new feature</legend>
    <%= form_for @feature do |form| %>
    <%= render :partial => 'form', :object => form %>

    <%= submit_tag "Add New Feature" %>

  <% end %>
  </fieldset>
</div>
