<p>
  <b>Name:</b>
  <%=h @enquiry.name %>
</p>

<p>
  <b>Organisation:</b>
  <%=h @enquiry.organisation %>
</p>

<p>
  <b>Address:</b>
  <%=h @enquiry.address %>
</p>

<p>
  <b>Country:</b>
  <%=h @enquiry.country %>
</p>

<p>
  <b>Postcode:</b>
  <%=h @enquiry.postcode %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @enquiry.telephone %>
</p>

<p>
  <b>Email:</b>
  <%=h @enquiry.email %>
</p>

<p>
  <b>Fax:</b>
  <%=h @enquiry.fax %>
</p>

<p>
  <b>Enquiry:</b>
  <%=h @enquiry.enquiry %>
</p>

<p>
  <b>Call back:</b>
  <%=h @enquiry.call_back %>
</p>

<p>
  <b>Hear about:</b>
  <%=h @enquiry.hear_about %>
</p>


<%= link_to 'Back', enquiries_path %>
