<div class="page-header">
  <h1>View Enquiry</h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Enquries', enquiries_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    View Enquiry
  </li>
</ul>

<p>
  <b>Name:</b>
  <%= @enquiry.name %>
</p>

<p>
  <b>Organisation:</b>
  <%= @enquiry.organisation %>
</p>

<p>
  <b>Address:</b>
  <%= @enquiry.address %>
</p>

<p>
  <b>Country:</b>
  <%= @enquiry.country %>
</p>

<p>
  <b>Postcode:</b>
  <%= @enquiry.postcode %>
</p>

<p>
  <b>Telephone:</b>
  <%= @enquiry.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @enquiry.email %>
</p>

<p>
  <b>Fax:</b>
  <%= @enquiry.fax %>
</p>

<p>
  <b>Enquiry:</b>
  <%= @enquiry.enquiry %>
</p>

<p>
  <b>Call back:</b>
  <%= @enquiry.call_back %>
</p>

<p>
  <b>Hear about:</b>
  <%= @enquiry.hear_about %>
</p>


<%= link_to 'Back', enquiries_path, class: 'btn' %>
