<h1>Images</h1>
<%= flash_notice %>
<p><%= link_to 'Upload a new image', :action => 'new' %></p>
<ul id="images_list">
  <% @images.each do |i| %>
  <li>
    <div class="image_thumbnail"><%= link_to image_tag(i.url(64)), :action => 'edit', :id => i %></div>
    <div class="image_name"><%= truncate(i.name, 11) %></div>
  </li>
  <% end %>
  <%= content_tag(:li, 'No images') if @images.empty? %>
</ul>
<%= clear %>
