<%= page_header 'New Image' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Images', images_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Image
  </li>
</ul>

<% if @image.errors.any? -%>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

  <ul>
<% @image.errors.full_messages.each do |msg| -%>
    <li><%= msg %></li>
<% end -%>
  </ul>
</div>
<% end -%>

<%= form_for @image, :html => { :multipart => true } do |form| %>
  <%= render :partial => 'form', :object => form %>

  <br><%= submit_tag "Upload New Image", class: 'btn btn-primary' %>

<% end %>
