<h1>New Image</h1>
<%= flash_notice %>

<div class="form">
	<%= error_messages_for :image -%>

	<fieldset>
		<legend>Upload a new image</legend>
    <%= form_for @image, :html => { :multipart => true } do |form| %>
    <%= render :partial => 'form', :object => form %>

    <%= submit_tag "Upload New Image" %>

  <% end %>
  </fieldset>
</div>
