<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><% if @title %><%= h(@title) %><% else %><%= h @w.name %><% end %></title>
  <%= stylesheet_link_tag "screen", :media => "screen" %>
  <%= stylesheet_link_tag @w.css_url, :media => "screen" unless @w.css_url.blank? %>
	<%= javascript_include_tag :defaults %>
</head>
<body id="<%= body_id %>">
<div id="wrapper">
  <a id="header"><span>Website</span></a>
  <ul id="primary_nav">
    <li><%= link_to 'Home', :controller => 'welcome' %></li>
    <% primary_pages.each do |p| -%>
    <li><%= link_to h(p.name), page_url(p) %></li>
    <% end -%>
    <li><%= link_to 'Enquiries', new_enquiry_path %></li>
    <% if logged_in? -%>
    <li><%= link_to h(@current_user.name) + '&#8217;s Account', :controller => 'users', :action => 'show', :id => @current_user %></li>
    <li><%= link_to 'Sign Out', :controller => 'sessions', :action => 'destroy' %></li>
    <% else -%>
    <li><%= link_to 'Join', :controller => 'users', :action => 'new' %></li>
    <li><%= link_to 'Sign In', :controller => 'sessions', :action => 'new' %></li>
    <% end -%>
  </ul>
  <div id="content">
<%= yield %>
  </div>
<div id="footer">
  ©<%= Date.today.year %> <%= h(@w.name) %>. All rights reserved.
  <a href="http://www.yesl.co.uk/">Ruby on Rails development</a> by Your e Solutions Ltd.
</div>
</div><!--#wrapper-->
<% unless @w.google_analytics_code.empty? -%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("<%= @w.google_analytics_code %>");
pageTracker._trackPageview();
} catch(err) {}</script>
<% end -%>
<div id="extra_div_1"><span></span></div><div id="extra_div_2"><span></span></div><div id="extra_div_3"><span></span></div>
<div id="extra_div_4"><span></span></div><div id="extra_div_5"><span></span></div><div id="extra_div_6"><span></span></div>
</body>
</html>