<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><% if @title %><%= h(@title) %><% else %><%= h @w.name %><% end %></title>
  <%= stylesheet_link_tag "screen", :media => "screen" if @w.use_default_css? %>
  <%= stylesheet_link_tag @w.css_url, :media => "screen" unless @w.css_url.blank? %>
	<%= javascript_include_tag :defaults %>
</head>
<body id="<%= body_id %>">
<div id="top"></div>
<div id="wrapper">
  <div id="header">
    <a href="/"><span><%= h @w.name %></span></a>
  </div>
  <% Page.navs(@w).each do |nav| %>
  <ul id="<%= nav.id_attribute %>">
  <% nav.pages.each do |p| %>
    <%= nav_link_to h(p.name), page_url(p) %>
  <% end %>
  <% if nav.id_attribute == 'primary_nav' -%>
    <%= nav_link_to 'Enquiries', new_enquiry_path %>
    <% if logged_in? -%>
    <%= nav_link_to h(@current_user.name) + '&#8217;s Account', {:controller => 'users', :action => 'show', :id => @current_user}, nil, 'n_account' %>
    <%= nav_link_to 'Sign Out', :controller => 'sessions', :action => 'destroy' %>
    <% else -%>
    <% if @w.can_users_create_accounts? -%>
    <%= nav_link_to 'Join', :controller => 'users', :action => 'new' %>
    <% end -%>
    <%= nav_link_to 'Sign In', :controller => 'sessions', :action => 'new' %>
    <% end -%>
    <% if @w.shop? -%>
    <%= nav_link_to 'View Basket', :controller => 'basket' %>
    <%= nav_link_to 'Checkout', :controller => 'basket', :action => 'checkout' %>
    <% end -%>
  <% end %>
  </ul>
  <% end %>
  <div id="content">
<%= yield %>
  </div>
<div id="footer">
  ©<%= Date.today.year %> <%= h(@w.name) %>. All rights reserved.
  <a href="http://www.yesl.co.uk/">Ruby on Rails development</a> by Your e Solutions Ltd.
  <% if admin? -%>
  <br />
  <strong>Admin quick links:</strong>
  <%= link_to 'Websites', websites_url %>
  &middot;
  <%= link_to 'Pages', :controller => 'pages' %>
  &middot;
  <%= link_to 'Products', products_url %>
  &middot;
  <%= link_to 'Images', :controller => 'images' %>
  <% end %>
</div>
<% if @w.rbswp_active? -%>
<div id="rbswp_logos">
<script type="text/javascript" src="https://select.worldpay.com/wcc/logo?instId=<%= @w.rbswp_installation_id %>"></script>
</div>
<% end -%>
</div><!--#wrapper-->
<div id="bottom"></div>
<% unless @w.google_analytics_code.empty? -%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("<%= @w.google_analytics_code %>");
pageTracker._trackPageview();
} catch(err) {}</script>
<% end -%>
<div id="extra_div_1"><span></span></div><div id="extra_div_2"><span></span></div><div id="extra_div_3"><span></span></div>
<div id="extra_div_4"><span></span></div><div id="extra_div_5"><span></span></div><div id="extra_div_6"><span></span></div>
</body>
</html>